In [10]:
#import libraries
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [2]:
#connect to website, static fakepython job listing websit
URL = "https://realpython.github.io/fake-jobs/"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

In [27]:
#record and clean data
jobtitle = soup2.find("h2", class_="title")
company = soup2.find("h3", class_="subtitle")

jobtitle = jobtitle.text.strip()
company = company.text.strip()

print(jobtitle)
print(company)

Senior Python Developer
Payne, Roberts and Davis

In [28]:
#time stamp for when data is collected
import datetime

today = datetime.date.today()

print(today)

2023-07-02

In [30]:
#create CSV and write data into the file

import csv 

header = ['Job Title', 'Company', 'Date']
data = [jobtitle, company, today]


with open('WebScraperDataset1.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [40]:
#appending new data to the csv

with open('WebScraperDataset1.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [42]:
#import data
import pandas as pd

df = pd.read_csv(r'C:\Users\takhz\WebScraperDataset1.csv')

In [43]:
df

                 Job Title                   Company        Date
0  Senior Python Developer  Payne, Roberts and Davis  2023-07-02
1  Senior Python Developer  Payne, Roberts and Davis  2023-07-02
2  Senior Python Developer  Payne, Roberts and Davis  2023-07-02
3  Senior Python Developer  Payne, Roberts and Davis  2023-07-02
4  Senior Python Developer  Payne, Roberts and Davis  2023-07-02

In [44]:
#combine codes into a function

def check_listing():
    URL = "https://realpython.github.io/fake-jobs/"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers = headers)

    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    
    jobtitle = soup2.find("h2", class_="title")
    company = soup2.find("h3", class_="subtitle")

    jobtitle = jobtitle.text.strip()
    company = company.text.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 
    
    import csv 

    header = ['Job Title', 'Company', 'Date']
    data = [jobtitle, company, today]

    with open('WebScraperDataset1.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [45]:
#runs check_price after a set time

while(True):
    check_listing()
    time.sleep(5)
    
#ignore error below because of interruption

KeyboardInterrupt:

In [48]:
import pandas as pd

df = pd.read_csv(r'C:\Users\takhz\WebScraperDataset1.csv')

In [49]:
df

                  Job Title                   Company        Date
0   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
1   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
2   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
3   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
4   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
5   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
6   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
7   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
8   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
9   Senior Python Developer  Payne, Roberts and Davis  2023-07-02
10  Senior Python Developer  Payne, Roberts and Davis  2023-07-02